/*!
 * OPENLAYERS V4 ADAPTATION - https://openlayers.org/
 * (C) Dominique Cavailhez 2017 - https://github.com/Dominique92/MyOl
 */

/* Geocoder */
.ol-coordinate {
	bottom: 30px;
	left: 8px;
	position: absolute;
	border-radius: 3px;
	font-size: small;
	color: white;
	background-color: rgba(0, 60, 136, 0.3);
	padding: 0 2px;
}
.ol-geocoder .gcd-txt-input {
	padding-right: 5px;
}
.ol-geocoder .gcd-txt-control {
	height: 2em;
}
.ol-geocoder.gcd-txt-container {
	width: 50%;
}

.ol-geocoder.gcd-gl-container {
	top: 6em;
}
.ol-geocoder .gcd-gl-btn {
	width: 1.375em;
	height: 1.375em;
}

/* Full screen */
.ol-full-screen {
	top: 4em;
	left: .5em;
	right: auto;
}
/*
.whtml, .body {
	min-height: 100%;
}*/

/* Print 
@media print {
	
	html, body{
		padding:0px!important;
		margin:0px!important;
    wpage-break-before: avoid;
    wpage-break-after: avoid;
    width:100%;
    wheight:100%;
	}
	wbody{display:none;}
.ol-viewport {
	wdisplay:block;
	  position: absolute;
	  wheight: 100% !important;
	  width: 100% !important;
  }
}*/

/* Overpass */
.overpass-popup{
	background-color: #def;
	padding: 5px;
	border-radius: 5px;
border: 1px solid #abc;
}
.overpass-popup p{
	font-size: small;
	margin: 0;
}
.overpass-popup p:first-letter {
    text-transform: uppercase;
}

/* Switch layer */
.switch-layer {
	font-size: small;
	max-height: 100%;
	overflow-y: scroll;
}
.switch-layer input {
	margin: 0;
	position: relative;
	top: 2px;
}
.switch-layer:hover {
	background-color: white;
}

/* Mesures */
.ol-length-line{
	bottom: 52px;
	left: 8px;
	position: absolute;
	border-radius: 3px;
	font-size: small;
	color: white;
    background: #39c;
	padding: 0 2px;
}

/* Features popup */
.popup {
	padding: 1px 4px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 3px 8px #888;
	-moz-box-shadow: 0 3px 8px #888;
	-webkit-box-shadow: 0 3px 8px #999;
	font-size: 12px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
